{% extends "base.html" %}

{% block content %}
    <div class="tile is-ancestor mt-1">
    <div class="tile is-8 is-vertical">
    {% if form.errors %}
    <p>Your login and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}

        <div class="notification is-primary is-light">
        Your account doesn't have access to this page. To proceed,
        please login with an account that has access.
        </div>
    {% else %}
    <p>Enter your email</p>
    {% endif %}
    <div class="tile">
    <form method="post" action="">
    {% csrf_token %}
        <div class="field">
            <div class="control has-icons-left has-icons-right">
        <input class="input" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
            <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
        </span>
            </div>
        </div>
        <div class="field">
        <p class="control">
        <button class="button is-danger" type="submit" value="Reset password">
        Reset password
        </button>
        </p>
        </div>
    </form>
    </div>
    </div>
    </div>
{% endblock %}